.SignUp
{
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-height: 100vh;

    justify-content: space-between;
}

.SignUp::before
{
    position: fixed;
    z-index: -2;

    width: 100vw;
    height: 100vh;

    content: '';
    transform-origin: 50vw 50vh;
    animation: 100s ease-in space-jump infinite;

    background: #000 url('./img/sky.png') repeat left center;
    background-size: 20%;

    will-change: transform;
}

.SignUp::after
{
    position: absolute;
    z-index: -1;
    top: 8px;
    left: 50%;

    width: 130vw;
    height: 130vw;

    content: '';
    transform: translate(-50%, 0);

    border-radius: 100%;
    background: #000;
    box-shadow: 0 0 200px -10px rgba(183, 138, 255, .4);
}

.logo
{
    width: 48px;
    height: 48px;
    margin: 0 auto;
    margin-top: 24px;
}

.h1,
.h2
{
    font-family: var(--serif);
    font-weight: bold;
    line-height: 100%;

    color: var(--pale-snow);
    text-shadow: var(--ice-glow);
}

.h1
{
    font-size: 80px;

    margin-top: 8px;
    margin-bottom: 32px;

    letter-spacing: -.05em;
}

.h2
{
    font-size: 40px;

    letter-spacing: .01em;
}

.text
{
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 95%;

    letter-spacing: -.5px;

    color: var(--pale-snow);
    text-shadow: var(--ice-glow);
}

.form-section
{
    width: 100%;
    padding: 0 16px;
}

.label,
.button
{
    font-family: var(--sans-serif);
    font-weight: 700;

    display: block;
}

.label
{
    font-size: 22px;
    line-height: 100%;

    color: var(--pale-snow);
    text-shadow: var(--ice-glow);
}

.input
{
    font-family: Times, serif;
    font-size: 16px;
    line-height: 95%;

    display: block;

    width: 100%;
    height: 40px;
    margin: 8px 0 24px;
    padding: 0 8px;

    letter-spacing: .15em;

    border: none;
    border: 2px solid rgba(234, 234, 234, .4);
    border-radius: 2px;
    background-color: var(--pale-snow);
    box-shadow: var(--ice-glow);
}

.button
{
    font-size: 22px;
    line-height: 95%;

    width: 100%;
    height: 48px;
    padding: 0 24px;

    cursor: pointer;

    color: #000;
    border: none;
    border-radius: 4px;
    background: #e9ff92;
    box-shadow: 0 0 4px rgba(255, 149, 104, .3),
    0 0 24px rgba(255, 204, 104, .4);
    text-shadow: 0 0 4px rgba(255, 149, 104, .3),
    0 0 24px rgba(255, 204, 104, .4);
}

.form__actions
{
    display: flex;

    margin-top: 40px;

    flex-flow: column;
    gap: 24px;
}

.form__sign-up
{
    align-self: center;
}

.footer
{
    margin: 0 auto;
    padding-bottom: 8px;

    opacity: .25;
}


/* 
    Effects
*/

@keyframes space-jump
{
    0%
    {
        transform: scale(1) translateZ(0);
    }
    99%
    {
        transform: scale(4) translateZ(0);
    }
    100%
    {
        transform: scale(1) translateZ(0);
    }
}

.noise
{
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;

    opacity: .06;
    background: url('./img/noise-redux-2.gif');
}

.form-section__sparkles
{
    position: absolute;
    top: -5vw;
    right: -5vw;
    bottom: -5vw;
    left: -5vw;

    pointer-events: none;
}

.spark
{
    position: absolute;

    width: 16px;
    height: 16px;
    margin: 8px;

    filter: drop-shadow(0 0 3px var(--pale-snow));
}

.form-section__sparkles .spark:nth-child(2)
{
    right: 0;
}

.form-section__sparkles .spark:nth-child(3)
{
    bottom: 0;
}

.form-section__sparkles .spark:nth-child(4)
{
    right: 0;
    bottom: 0;
}


/* 
    MEDIA QUERIES
*/

@media (max-width: 280px)
{
    .h1
    {
        font-size: 70px;
    }
    .h2
    {
        font-size: 30px;
    }
}

@media (min-width: 360px)
{
    .form-section
    {
        padding: 0 24px;
    }
}

@media (min-width: 390px)
{
    .form-section
    {
        padding: 0 32px;
    }
}

@media (min-width: 768px)
{
    .SignUp::after
    {
        top: 50%;
        bottom: 0;

        transform: translate(-50%, -50%);
    }
    .form-section
    {
        width: 70%;
        margin: 0 auto;

        transform: translateY(-5%);
    }
}

@media (min-width: 1024px)
{
    .SignUp::after
    {
        width: 85vw;
        height: 85vw;
    }
    .button
    {
        width: auto;
    }
    .form-section
    {
        width: 40%;
    }
    .form__actions
    {
        flex-flow: row;
        gap: 32px;
    }
}

@media (min-width: 1440px)
{
    .footer
    {
        padding-bottom: 16px;
    }
}

@media (min-width: 2560px)
{
    .SignUp::after
    {
        width: 70vw;
        height: 70vw;
    }
    .logo
    {
        margin-top: 56px;
    }
    .h1
    {
        font-size: 100px;
    }
    .h2
    {
        font-size: 50px;
    }
    .input
    {
        margin: 8px 0 40px;
    }
    .form-section
    {
        width: 20%;

        transform: translateY(-10%);
    }
    .form__actions
    {
        margin-top: 48px;
    }
    .footer
    {
        padding-bottom: 32px;
    }
}

@media (prefers-reduced-motion: reduce)
{
    .noise
    {
        display: none;
    }
    .SignUp::before
    {
        animation: none;

        background-size: 35%;
    }
}
